<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="d-flex mb-2 mt-2 justify-content-between">
    <input class="form-control col-sm-4" type="search" placeholder="Search" aria-label="Search">
    <div>
        <button class="btn" style="background-color:#4E58A2;color:white;" data-toggle="modal" data-target="#extraLargeModal">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <span>&nbsp;New Chart of Accounts </span>
        </button>
    </div>
</div>
<hr />
<div style="background-color:white;color:black; border-top-left-radius: 25px; font-size: 14px;">
    <table class="table table-striped table-hover">
        <thead style="background-color: #6C7AE0; color: white;">
            <tr id="tableName">
                <th class="tableheadleft" scope="col">ID Account</th>
                <th scope="col">Account</th>
                <th class="tableheadright" scope="col 1">Account Code</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th id="tdRow" scope="row">123</th>
                <td id="tdRow">Food and Beverages for residents</td>
                <td id="tdRow">14688</td>
            </tr>
            <tr>
                <th id="tdRow" scope="row">123</th>
                <td id="tdRow">Facilities used for Rehabilitatio</td>
                <td id="tdRow">56789</td>
            </tr>
            <tr>
                <th id="tdRow" scope="row">123</th>
                <td id="tdRow">Communication and load</td>
                <td id="tdRow">12345</td>
            </tr>
            <tr>
                <th id="tdRow" scope="row">123</th>
                <td id="tdRow">Food and Beverages for residents</td>
                <td id="tdRow">14688</td>
            </tr>
            <tr>
                <th id="tdRow" scope="row">123</th>
                <td id="tdRow">Facilities used for Rehabilitatio</td>
                <td id="tdRow">56789</td>
            </tr>
            <tr>
                <th id="tdRow" scope="row">123</th>
                <td id="tdRow">Communication and load</td>
                <td id="tdRow">12345</td>
            </tr>
            <tr>
                <th id="tdRow" scope="row">123</th>
                <td id="tdRow">Food and Beverages for residents</td>
                <td id="tdRow">14688</td>
            </tr>
            <tr>
                <th id="tdRow" scope="row">123</th>
                <td id="tdRow">Facilities used for Rehabilitatio</td>
                <td id="tdRow">56789</td>
            </tr>
            <tr>
                <th id="tdRow" scope="row">123</th>
                <td id="tdRow">Communication and load</td>
                <td id="tdRow">12345</td>
            </tr>
        </tbody>
    </table>
</div>
<style>
    .tableheadleft {
        border-top-left-radius: 15px;
    }

    .tableheadright {
        border-top-right-radius: 15px;
    }

    #navbarSupportedContent {
        margin-left: 48%;
    }

    #navColor {
        color: white;
    }

    .navbar .nav-item:not(:last-child) {
        margin-right: 35px;
    }

    .dropdown-toggle::after {
        transition: transform 0.15s linear;
    }

    .show.dropdown .dropdown-toggle::after {
        transform: translateY(3px);
    }

    .dropdown-menu {
        margin-top: 0;
    }

    #tableName {
        text-align: center
    }

    .navbar-brand {
        color: white;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        color: white;
    }

    .search {
        margin-left: 90%;
        border-radius: 5px;
        padding-right: 90px;
    }

    .isearch {
        border-radius: 5px;
    }

    #searchBar {
        margin-left: 5%;
    }

    #newButton {
        margin-left: 84%;
    }

    #newButton2 {
        margin-left: 10px;
    }

    #modalBorder {
        border-radius: 5%;
        background-color: #6C7AE0;
        box-shadow: 10px 10px 5px #444D8E;
        margin-left: 50%;
    }

    #tableArea {
        margin-bottom: 10%;
    }

    #tdRow {
        text-align: center
    }
</style>
