<div class="col-sm-12 verticalCenter d-flex align-items-center justify-content-center">
    <div class="card cards col-sm-4" style="background-color:#C9E6F0;">
        <div id="image">
            <img class="mb-3" src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/user-male-circle-blue-512.png" width="20%" heigth="20%" />
        </div>
        <div class="formInput">
            <form>
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <input type="text" class="mb-3 username" placeholder="Username" />
                    <input type="password" class="password mb-5" placeholder="Password" />
                    <button type="submit" class="btn btn-primary mb-5 button" style="width:300px">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>


<style>
    @@media only screen and (max-width: 1125px) {
        input[type=text], input[type=text]:focus {
            width: 250px !important;
            height: 30px !important;
        }

        input[type=password], input[type=password]:focus {
            width: 250px !important;
            height: 30px !important;
        }

        .button {
            width: 250px !important;
        }
    }

    body {
        background-color: #444D8E;
    }

    #image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
    }
    .body {
        background-color: #444D8E;
    }

    .cards {
        box-shadow: 0 0 10px 5px #000000;
    }

    .verticalCenter {
        margin-top:15%;
    }

    input[type=text] {
        border: none;
        background-color: #C9E6F0;
        outline: 0;
        font-size: 18px;
        width: 300px;
        height: 30px;
        border-bottom: 1px solid gray;
    }

    input[type=text]:focus {
        border: none;
        background-color: #C9E6F0;
        outline: 0;
        width: 300px;
        height: 30px;
        border-bottom: 1px solid gray;
    }

    input[type=password] {
        border: none;
        background-color: #C9E6F0;
        outline: 0;
        font-size: 18px;
        width: 300px;
        height: 30px;
        border-bottom: 1px solid gray;
    }

    input[type=password]:focus {
        border: none;
        background-color: #C9E6F0;
        outline: 0;
        width: 300px;
        height: 30px;
        border-bottom: 1px solid gray;
    }
</style>

